name: CI

on:
    push:
    pull_request:
    schedule:
        - cron: '0 * * * *'

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0
          bundler-cache: true


      - name: Create pages
        if: ${{ github.event_name != 'pull_request' }}
        run: |
            ruby --version
            ruby digger.rb --fetch --generate

      - name: Commit new page
        run: |
            GIT_STATUS=$(git status --porcelain)
            echo $GIT_STATUS
            git config user.name github-actions[bot]
            git config user.email 41898282+github-actions[bot]@users.noreply.github.com
            git add docs/
            if [ "$GIT_STATUS" != "" ]; then git commit -m "Automated Web page generation"; fi
            if [ "$GIT_STATUS" != "" ]; then git push; fi

